{% extends "base.html" %} {% load static %} {% block title %}Login{% endblock%}
{% block content %}Login{% endblock %} {% block extra %} {% if messages %}
<div
  class="fixed top-5 left-1/2 -translate-x-1/2 z-[9999] space-y-3 w-full max-w-md px-4"
>
  {% for message in messages %}
  <div
    class="flex items-center justify-between px-5 py-3 rounded-xl text-sm font-medium text-white shadow-2xl backdrop-blur-md animate-[slideDown_.35s_ease] {% if message.tags == 'success' %} bg-gradient-to-r from-green-500 to-emerald-600 {% elif message.tags == 'error' %} bg-gradient-to-r from-red-500 to-red-700 {% else %} bg-gray-800 {% endif %}"
  >
    <span>{{ message }}</span>

    <!-- Close Button -->
    <button
      onclick="this.parentElement.remove()"
      class="ml-4 text-lg font-bold hover:scale-110 transition"
    >
      ×
    </button>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %} {% block body %}
<div class="hero-animate relative z-20 flex justify-center items-center pb-20">
  <form
    method="POST"
    action=""
    class="glass bg-black/20 backdrop-blur-md border border-orange-500/20 rounded-2xl p-8 w-[90%] max-w-md shadow-[0_20px_60px_rgba(0,0,0,0.6),0_0_40px_rgba(249,115,22,0.25)]"
  >
    {% csrf_token %}

    <!-- Phone Number -->
    <div class="mb-5">
      <label class="block text-sm mb-2 text-white/80">Phone Number</label>
      <input
        type="tel"
        name="phone"
        required
        class="w-full px-4 py-3 rounded-lg bg-black/40 border border-white/20 focus:border-orange-500 focus:outline-none text-white"
      />
    </div>
    <!-- Password -->
    <div class="mb-6">
      <label class="block text-sm mb-2 text-white/80">Password</label>
      <input
        type="password"
        name="password"
        required
        class="w-full px-4 py-3 rounded-lg bg-black/40 border border-white/20 focus:border-orange-500 focus:outline-none text-white"
      />
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="w-full bg-orange-500 hover:bg-orange-600 text-black font-semibold py-3 rounded-full transition duration-300 shadow-[0_0_25px_rgba(249,115,22,0.5)]"
    >
      LogIn
    </button>

    <!-- Sign In Link -->
    <p class="text-center text-sm mt-6 text-white/70 font-extrabold">
      Don't Have an account?
      <a href="/signup" class="text-orange-400 hover:underline">SignUp</a>
    </p>
  </form>
</div>

{% endblock %}
